/* CSS Resets */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');

body{
    background: #000;
    font-size: 1.5rem;
}
#nav{
    padding: 0 7rem;
}

#nav a{
    font-size: 1.5rem;
}
#nav span a{
    font-size: 1.5rem;
}
.bg-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-img{
    border-radius: 50%;
    width: 30%;
    height: auto;
    object-fit: cover;
}
span.cta {
    border: 1px solid #fff;
    padding: .4rem 1rem;
    border-radius: 2rem;
}
a:link, a:visited{
    color: #fff;
}
.bg-text{
    width: 40vw;

}
.bg-title{
    color: #fff;
    font-family: 'Pinyon Script', cursive;
}
.showcase{
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 3.2rem;
    background: rgba(0,0,0, .5);
}
.showcase img{
    object-fit: cover;
}
.tributeLayout{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    margin-top: 5rem;
    
}
.tributeList{
    width: 65%;
}

.tributeSidebar{
    width: 25%;
}

.tribute{
    color: #111;
}
.tribute_meta{
    font-weight: bold;
}
.hack{
    color: black;
}
.date{
    font-weight: 400;
}



/* About */
.about-title{
    position: absolute;
    bottom: 1rem;
    left: 17%;
}
.about-text{
    color: #fff;
    margin: 3rem 1rem;
}
.about_page{
    color: #fff;
}
.about_sub{
    color: #2196f3;
}
.about_p{
    line-height: 3rem;
}
.about_p p{
    margin-bottom: 3rem;
}
.top_p{
    padding: 0 .75rem;
}

/* SignIn */
.form{
    background-color: rgba(0, 0, 0, .8);
    border-radius: .5rem;
    padding: 6rem 4rem;
    width: 600px;
    z-index: 2;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_element{
    background-color: rgba(27, 24, 24, 0.8);
    border-radius: .5rem;
    width: 100%;
    padding:1rem 8rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.input-field input[type=text]{
    width: 100%;
}
input, textarea{
    color: #fff;
}
.textarea{  
    overflow:hidden;
    padding:1rem;
    width: 100%;
    height: 15rem;
    font-size: 1.4rem;
    /* margin: 2.5rem auto; */
    display:block;
    border-radius:1rem;
    border: 0.6rem solid #556677;
    background-color: rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: .5rem .8rem;
    transition: background-color 0.2s ease 0s;
  }
  .textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.donate{
    transform: translateY(10%);
}
.donation {
    position: relative;
}
.spinner{
    position: absolute;
    top: 0;
    left: 0;
}
.spinner_2{
    position: absolute;
    top: 0;
    left: 30%;
}

.donation input{
    color: #2196f3;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly])
{
    border-bottom-color: #2196f3;
}
.confirm{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #2196f3;
}

 a.chosen{
    color: #2196f3;
}

.footer{
    background: #111;
    padding: 2rem;
    text-align: center;
    color: #fff;
    margin-top: 5rem;
}
.footer a{
    text-transform: uppercase;
    color: #2196f3;
}

@media only screen and (max-width: 800px){
    html{
        font-size: 50%;
    }
    .tributeList{
        width: 65%;
    }
    
    .tributeSidebar{
        width: 30%;
    }
    .bg-text{
        font-size: 1.1rem;
    }
    select.browser-default{
        height: 5rem;
    }
    
}
@media only screen and (max-width: 650px){
    html{
        font-size: 48%;
    }
    nav ul a{
        padding: 0 1rem;
    }
    
    .tributeLayout{
        display: block;
    }
    .tributeList{
        width: 100%;
    }
    
    .tributeSidebar{
        width: 100%;
    }
    .bg-text{
        font-size: .2rem;
    }
    .donate{
        transform: translateY(0%);
    }
    
}
@media only screen and (max-width: 540px){
    #nav{
        padding: 0 1rem;
    }
    .angel{
        display: none;
    }
}
